{% load static %}
<html>
<head>
    <title>Bloodrazors Blog</title>
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>

<div class="content container-fluid site-color">
    <div class="page-header site-color">
        <h1><a href="/">Bloodrazors Blog</a></h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
